.logo{
    width: 837px;
    margin: 0 auto;
}

.video, video{
    width: 900px;
    margin: 0 auto;
}

.intro{
    color: blue;
    margin: 20px 10px;
    font-size: 14pt;
    padding: 20px;
    border-radius: 10px;
    background-color: #ebebeb;
}

.comment{
    color: #b8860b;
    margin: 20px;
    font-size: 20pt;
    text-align: center;
}

.table{
    padding: 15px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: #ebebeb;
}

.row{

}

.col{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.col.label{
    width: 39%;
    text-align: right;
    color: #333;
    font-size: 14pt;
    font-weight: 600;
}

.col.input{
    width: 60%;
}

.row.text{
    margin: 0 auto;
    text-align: center;
    font-size: 20pt;
}

.col.input.level{
    padding-left: 150px;
}

.col.label.text.level{
    padding-right: 100px;
}

.col.input.text.level{
    padding-left: 100px;
}

.col.text, .row.text{
    color: blue;
}

.col.text{
    font-size: 16pt;
    font-weight: 600;
}

input{
    padding: 10px;
    border: 0;
}

select{
    padding: 10px;
}